h1, h2, p {
    text-align: center;
}
#body {
    width: 700px;
    max-width: 100%;
}
.copyright {
    font-size: 0.3cm;
}
.table-of-contents {
    border: 1px solid #e5e5e5;
    width: fit-content;
    padding: 5px 25px 5px 5px;
}