table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    text-align: left;
    padding: 5px 10px;
    border-bottom: 1px solid #e5e5e5;
}
dt {
    color: #444;
    font-weight: 500;
}
th {
    color: #444;
}
