[submodule "vendor/fnalibs/SDL"]
	path = vendor/fnalibs/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "vendor/fnalibs/FNA3D"]
	path = vendor/fnalibs/FNA3D
	url = https://github.com/FNA-XNA/FNA3D.git
[submodule "vendor/fnalibs/FAudio"]
	path = vendor/fnalibs/FAudio
	url = https://github.com/FNA-XNA/FAudio.git
[submodule "vendor/FNA"]
	path = vendor/FNA
	url = https://github.com/FNA-XNA/FNA.git
