out/
*.so*
*.dll
Debug/
Release/
!vendor/**
!**/mono/lib/**
.NET*.cs
*.tlog/
bin/
!vendor/binaries/**/bin
bin-int/
.DS_Store
*.sln
*.*proj*
*.xcworkspace/**
Makefile
.vscode/**
!.vscode/launch.json
!fe_engine.net.sln
!scriptcore/scriptcore.net.csproj
!sample-scripts/sample-scripts.net.csproj
.vs/
pkg/